<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.news"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    
    <application
        android:allowBackup="true"
        android:configChanges="locale"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name="com.example.news.WelcomeActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity 
            android:name="com.example.news.IntroductionActivity" 
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.example.news.activity.TabHostActivity" 
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.example.news.activity.MainActivity" 
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.example.news.activity.HotsActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.example.news.activity.FlashActivity"
			android:screenOrientation="portrait" />
        <activity 
            android:name="com.example.news.activity.RecommendActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.example.news.activity.MoreActivity"
            android:screenOrientation="portrait" />
        <activity 
            android:name="com.example.news.activity.WebViewActivity"
            android:screenOrientation="portrait" />
        
        <activity 
            android:name="com.example.news.activity.DetailMainActivity"
			android:screenOrientation="portrait" />
    </application>

</manifest>
